
<!-- Navigation -->
<div class="wrapper">
    <div class="content">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Dinesh's Book Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="Search Books">
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br/>
  
  <!-- Page Content -->
  <div class="container">
  
    <div class="row">
  
      <div class="col-lg-3">
  
        <div class="list-group" *ngFor="let category of categories">
          <a routerLink="category/1" 
          routerLinkActive="bg-primary text-white font-weight-bold" 
          class="list-group-item">{{ category.categoryName }}</a>
          
          <!-- <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a> -->
        </div>
  
      </div>
      <!-- /.col-lg-3 -->
  
      <div class="col-lg-9">
        <div class="row" >
  
          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let book of books; index as i">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" [src]=" book.imageUrl" height="230" ></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{book.name}}</a>
                </h4>
                <h5>{{book.unitPrice |currency:'INR'}}</h5>
                <p class="card-text text-truncate">{{book.description}}</p>
              </div>
              <div class="card-footer">
                <button class="btn btn-primary float-right">Add to Cart</button>
              </div>
            </div>
          </div>
  
        </div>
        <!-- /.row -->
  
      </div>
      <!-- /.col-lg-9 -->
  
    </div>
    <!-- /.row -->
  
  </div>
  
  </div>
  
  </div>
  
  <app-footer></app-footer>
  